.PageTemplate_page-template__1nzLH main {
  background-color: #f1f3f5;
  min-height: calc(100vh - 15rem); }

.PageHeader_page-header__3SstT {
  background-color: #228be6; }
  .PageHeader_page-header__3SstT .PageHeader_content__3rrca {
    height: 5rem;
    width: 1400px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center; }
    @media (max-width: 1399px) {
      .PageHeader_page-header__3SstT .PageHeader_content__3rrca {
        width: 100%; } }
    @media (max-width: 767px) {
      .PageHeader_page-header__3SstT .PageHeader_content__3rrca {
        padding-left: 1rem;
        padding-right: 1rem; } }
    .PageHeader_page-header__3SstT .PageHeader_content__3rrca .PageHeader_logo__1ywZc {
      font-size: 1.5rem;
      font-weight: 600;
      color: white; }
    .PageHeader_page-header__3SstT .PageHeader_content__3rrca .PageHeader_buttons__p_Xxt {
      margin-left: auto; }

.Button_custom-button__lIgZO {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-flex; }
  .Button_custom-button__lIgZO.Button_default__-Up_z {
    background-color: #228be6; }
    .Button_custom-button__lIgZO.Button_default__-Up_z:hover {
      background-color: #339af0; }
    .Button_custom-button__lIgZO.Button_default__-Up_z:active {
      background-color: #228be6; }
  .Button_custom-button__lIgZO.Button_gray__10IDY {
    background-color: #495057; }
    .Button_custom-button__lIgZO.Button_gray__10IDY:hover {
      background-color: #868e96; }
    .Button_custom-button__lIgZO.Button_gray__10IDY:active {
      background-color: #495057; }
  .Button_custom-button__lIgZO.Button_outline__3YdtB {
    border: 2px solid white;
    border-radius: 2px; }
    .Button_custom-button__lIgZO.Button_outline__3YdtB:hover {
      background-color: white;
      color: #228be6; }
    .Button_custom-button__lIgZO.Button_outline__3YdtB:active {
      background-color: rgba(255, 255, 255, 0.85);
      border: 2px solid rgba(255, 255, 255, 0.85); }
  .Button_custom-button__lIgZO:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.115); }
  .Button_custom-button__lIgZO.Button_disabled__2OxkZ {
    background-color: #ced4da;
    color: #868e96;
    cursor: default; }
    .Button_custom-button__lIgZO.Button_disabled__2OxkZ:hover, .Button_custom-button__lIgZO.Button_disabled__2OxkZ:active {
      box-shadow: none;
      background-color: #ced4da; }
  .Button_custom-button__lIgZO + .Button_custom-button__lIgZO {
    margin-left: 0.5rem; }

.PageFooter_page-footer__37Hsp {
  background-color: #495057;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .PageFooter_page-footer__37Hsp .PageFooter_logo__1lkXD {
    color: white;
    font-size: 2rem;
    font-weight: 600; }
  .PageFooter_page-footer__37Hsp .PageFooter_sign-in__3j27Q {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer; }
    .PageFooter_page-footer__37Hsp .PageFooter_sign-in__3j27Q:hover {
      color: white; }

.PostHeader_post-header__31_ec {
  background-color: #228be6;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .PostHeader_post-header__31_ec .PostHeader_info__1Xxee {
    margin-top: -5rem;
    width: 1024px;
    padding: 1rem;
    color: white; }
    .PostHeader_post-header__31_ec .PostHeader_info__1Xxee h1 {
      font-weight: 300;
      font-size: 3rem;
      margin: 0;
      word-wrap: break-word; }
    .PostHeader_post-header__31_ec .PostHeader_info__1Xxee .PostHeader_tags__3Z6Tn {
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: 500; }
      .PostHeader_post-header__31_ec .PostHeader_info__1Xxee .PostHeader_tags__3Z6Tn a:hover {
        text-decoration: underline; }
      .PostHeader_post-header__31_ec .PostHeader_info__1Xxee .PostHeader_tags__3Z6Tn a + a {
        margin-left: 0.25rem; }
    .PostHeader_post-header__31_ec .PostHeader_info__1Xxee .PostHeader_date__2ucyd {
      text-align: right;
      opacity: 0.75;
      font-style: italic;
      font-size: 1.25rem; }
  @media (max-width: 1023px) {
    .PostHeader_post-header__31_ec .PostHeader_info__1Xxee {
      width: 768px; }
      .PostHeader_post-header__31_ec .PostHeader_info__1Xxee h1 {
        font-size: 2rem; }
      .PostHeader_post-header__31_ec .PostHeader_info__1Xxee .PostHeader_tags__3Z6Tn, .PostHeader_post-header__31_ec .PostHeader_info__1Xxee .PostHeader_date__2ucyd {
        font-size: 1rem; } }
  @media (max-width: 767px) {
    .PostHeader_post-header__31_ec {
      height: auto;
      padding-bottom: 4rem; }
      .PostHeader_post-header__31_ec .PostHeader_info__1Xxee {
        padding-top: 0;
        margin: 0; }
        .PostHeader_post-header__31_ec .PostHeader_info__1Xxee .PostHeader_tags__3Z6Tn {
          margin-top: 0.25rem; }
        .PostHeader_post-header__31_ec .PostHeader_info__1Xxee .PostHeader_tags__3Z6Tn, .PostHeader_post-header__31_ec .PostHeader_info__1Xxee .PostHeader_date__2ucyd {
          font-size: 0.85rem; } }

.MarkdownRenderer_markdown-renderer__1HYhP blockquote {
  border-left: 4px solid #228be6;
  padding: 1rem;
  background-color: #f1f3f5;
  margin-left: 0;
  margin-right: 0; }
  .MarkdownRenderer_markdown-renderer__1HYhP blockquote p {
    margin: 0; }

.MarkdownRenderer_markdown-renderer__1HYhP h1, .MarkdownRenderer_markdown-renderer__1HYhP h2, .MarkdownRenderer_markdown-renderer__1HYhP h3, .MarkdownRenderer_markdown-renderer__1HYhP h4 {
  font-weight: 500; }

.MarkdownRenderer_markdown-renderer__1HYhP h1 code, .MarkdownRenderer_markdown-renderer__1HYhP h2 code, .MarkdownRenderer_markdown-renderer__1HYhP h3 code, .MarkdownRenderer_markdown-renderer__1HYhP h4 code, .MarkdownRenderer_markdown-renderer__1HYhP h5 code, .MarkdownRenderer_markdown-renderer__1HYhP p code {
  font-family: "D2 Coding";
  background: #f8f9fa;
  padding: 0.25rem;
  color: #228be6;
  border: 1px solid #e9ecef;
  border-radius: 2px; }

.MarkdownRenderer_markdown-renderer__1HYhP code[class*="language-"], .MarkdownRenderer_markdown-renderer__1HYhP pre[class*="language-"] {
  font-family: "D2 Coding"; }

.MarkdownRenderer_markdown-renderer__1HYhP a {
  color: #228be6; }
  .MarkdownRenderer_markdown-renderer__1HYhP a:hover {
    color: #339af0;
    text-decoration: underline; }

.MarkdownRenderer_markdown-renderer__1HYhP table {
  border-collapse: collapse;
  width: 100%; }

.MarkdownRenderer_markdown-renderer__1HYhP table, .MarkdownRenderer_markdown-renderer__1HYhP th, .MarkdownRenderer_markdown-renderer__1HYhP td {
  border: 1px solid #ced4da; }

.MarkdownRenderer_markdown-renderer__1HYhP th, .MarkdownRenderer_markdown-renderer__1HYhP td {
  font-size: 0.9rem;
  padding: 0.25rem;
  text-align: left; }

.MarkdownRenderer_markdown-renderer__1HYhP img {
  max-width: 1005;
  margin: 0 auto;
  display: block; }

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.PostBody_post-body__2e7e7 .PostBody_paper__DmTA5 {
  padding: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: white;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.125), 0 10px 10px rgba(0, 0, 0, 0.11);
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  margin: 0 auto;
  min-height: 20rem;
  width: 1024px; }
  @media (max-width: 1023px) {
    .PostBody_post-body__2e7e7 .PostBody_paper__DmTA5 {
      width: 768px; } }
  @media (max-width: 767px) {
    .PostBody_post-body__2e7e7 .PostBody_paper__DmTA5 {
      width: calc(100% - 2rem); } }

.YesNoDialog_yes-no-dialog__3jDJD {
  background-color: white;
  padding: 2rem; }
  .YesNoDialog_yes-no-dialog__3jDJD .YesNoDialog_title__2xi7w {
    font-size: 1.25rem;
    font-weight: 500; }
  .YesNoDialog_yes-no-dialog__3jDJD .YesNoDialog_message__mapDa {
    margin-top: 0.25rem; }
  .YesNoDialog_yes-no-dialog__3jDJD .YesNoDialog_options__2wuVn {
    background-color: #f1f3f5;
    padding: 1rem;
    text-align: right; }

.Modal_background__2TT1C {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .Modal_background__2TT1C .Modal_modal-wrapper__2e6YO {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .Modal_background__2TT1C .Modal_modal-wrapper__2e6YO .Modal_modal__3Bk1h {
      box-shadow: 0 20px 40px #4dabf7, 0 15px 12px #4dabf7; }

.PostListWrapper_post-list-wrapper__3qk1R {
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 1024px; }
  @media (max-width: 1399px) {
    .PostListWrapper_post-list-wrapper__3qk1R {
      width: 768px; } }
  @media (max-width: 1023px) {
    .PostListWrapper_post-list-wrapper__3qk1R {
      width: 512px; } }
  @media (max-width: 767px) {
    .PostListWrapper_post-list-wrapper__3qk1R {
      width: 100%; } }

.PostListItem_post-list-item__PCWZA {
  padding: 1.5rem;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in; }
  .PostListItem_post-list-item__PCWZA .PostListItem_title__3OCTy {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    color: #343a40; }
    .PostListItem_post-list-item__PCWZA .PostListItem_title__3OCTy a {
      -webkit-transition: all .15s ease-in;
      transition: all .15s ease-in;
      border-bottom: 1px solid transparent; }
      .PostListItem_post-list-item__PCWZA .PostListItem_title__3OCTy a:hover {
        color: #228be6;
        border-bottom: 1px solid #228be6; }
  .PostListItem_post-list-item__PCWZA .PostListItem_date__BLD2w {
    font-size: 0.85rem;
    color: #adb5bd; }
  .PostListItem_post-list-item__PCWZA .PostListItem_content__1jKaS {
    font-weight: 300;
    color: #495057; }
  .PostListItem_post-list-item__PCWZA .PostListItem_tags__2RIIS {
    font-size: 0.85rem;
    color: #228be6; }
    .PostListItem_post-list-item__PCWZA .PostListItem_tags__2RIIS a:hover {
      color: #339af0;
      text-decoration: underline; }
    .PostListItem_post-list-item__PCWZA .PostListItem_tags__2RIIS a + a {
      margin-left: 0.25rem; }
  .PostListItem_post-list-item__PCWZA:hover {
    background-color: rgba(34, 139, 230, 0.05); }

.PostList_post-list-item__30oQ9 {
  padding: 1.5rem;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in; }
  .PostList_post-list-item__30oQ9 .PostList_title__2D2e5 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    color: #343a40; }
    .PostList_post-list-item__30oQ9 .PostList_title__2D2e5 a {
      -webkit-transition: all .15s ease-in;
      transition: all .15s ease-in;
      border-bottom: 1px solid transparent; }
      .PostList_post-list-item__30oQ9 .PostList_title__2D2e5 a:hover {
        color: #228be6;
        border-bottom: 1px solid #228be6; }
  .PostList_post-list-item__30oQ9 .PostList_date__c5EnL {
    font-size: 0.85rem;
    color: #adb5bd; }
  .PostList_post-list-item__30oQ9 .PostList_content__1yW4N {
    font-weight: 300;
    color: #495057; }
  .PostList_post-list-item__30oQ9 .PostList_tags__1bVHM {
    font-size: 0.85rem;
    color: #228be6; }
    .PostList_post-list-item__30oQ9 .PostList_tags__1bVHM a:hover {
      color: #339af0;
      text-decoration: underline; }
    .PostList_post-list-item__30oQ9 .PostList_tags__1bVHM a + a {
      margin-left: 0.25rem; }
  .PostList_post-list-item__30oQ9:hover {
    background-color: rgba(34, 139, 230, 0.05); }

.PostList_post-list__2VYRw {
  padding: 0;
  list-style: none; }
  .PostList_post-list__2VYRw li + li {
    border-top: 1px solid #dee2e6; }

.Paginator_paginator__1k3Ai {
  margin-top: 2rem;
  display: flex;
  align-items: center; }
  .Paginator_paginator__1k3Ai .Paginator_number__QrEm3 {
    font-size: 0.85rem;
    text-align: center;
    color: #868e96;
    flex: 1 1; }

.Template_template__1sso3 .Template_panes__2KIRz {
  height: calc(100vh - 4rem);
  display: flex;
  background-color: #f1f3f5;
  position: relative; }
  .Template_template__1sso3 .Template_panes__2KIRz .Template_pane__1dh1C {
    display: flex;
    min-width: 0;
    overflow: auto; }
  .Template_template__1sso3 .Template_panes__2KIRz .Template_separator__-a_fX {
    width: 1rem;
    height: 100%;
    position: absolute;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    cursor: col-resize;
    /*background-color: black;*/ }
  @media (max-width: 767px) {
    .Template_template__1sso3 .Template_panes__2KIRz .Template_editor__2-NFF {
      flex: 1 1 !important; }
    .Template_template__1sso3 .Template_panes__2KIRz .Template_preview__1ikzZ, .Template_template__1sso3 .Template_panes__2KIRz separator {
      display: none; } }

.Header_header__7QG-L {
  background-color: #228be6;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center; }
  .Header_header__7QG-L .Header_submit__U_cb5 {
    margin-left: auto; }

.Editor_editor__1wNLz {
  flex: 1 1;
  display: flex;
  flex-direction: column; }
  .Editor_editor__1wNLz .Editor_title__14Ow_ {
    background-color: #495057;
    border-style: none;
    outline: none;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    font-weight: 500; }
    .Editor_editor__1wNLz .Editor_title__14Ow_::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .Editor_editor__1wNLz .Editor_title__14Ow_::-moz-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .Editor_editor__1wNLz .Editor_title__14Ow_:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .Editor_editor__1wNLz .Editor_title__14Ow_::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.75); }
    .Editor_editor__1wNLz .Editor_title__14Ow_::placeholder {
      color: rgba(255, 255, 255, 0.75); }
  .Editor_editor__1wNLz .Editor_code__2V6yE {
    flex: 1 1;
    background-color: #212529;
    display: flex;
    flex-direction: column; }
    .Editor_editor__1wNLz .Editor_code__2V6yE .CodeMirror {
      font-size: 1rem;
      flex: 1 1;
      font-family: "D2 Coding"; }
  .Editor_editor__1wNLz .Editor_tags__3z-Vm {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    background-color: #495057;
    display: flex;
    align-items: center; }
    .Editor_editor__1wNLz .Editor_tags__3z-Vm .Editor_label__BcyUV {
      font-size: 0.85rem;
      color: white;
      font-weight: 600;
      margin-right: 1rem; }
    .Editor_editor__1wNLz .Editor_tags__3z-Vm input[type="text"] {
      flex: 1 1;
      font-size: 0.85rem;
      border-style: none;
      background: none;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.9); }
      .Editor_editor__1wNLz .Editor_tags__3z-Vm input[type="text"]::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.75); }
      .Editor_editor__1wNLz .Editor_tags__3z-Vm input[type="text"]::-moz-placeholder {
        color: rgba(255, 255, 255, 0.75); }
      .Editor_editor__1wNLz .Editor_tags__3z-Vm input[type="text"]:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.75); }
      .Editor_editor__1wNLz .Editor_tags__3z-Vm input[type="text"]::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.75); }
      .Editor_editor__1wNLz .Editor_tags__3z-Vm input[type="text"]::placeholder {
        color: rgba(255, 255, 255, 0.75); }

/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */ border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  -webkit-font-feature-settings: "calt";
          font-feature-settings: "calt";
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

/* Based on Sublime Text's Monokai theme */

.cm-s-monokai.CodeMirror { background: #272822; color: #f8f8f2; }
.cm-s-monokai div.CodeMirror-selected { background: #49483E; }
.cm-s-monokai .CodeMirror-line::-moz-selection, .cm-s-monokai .CodeMirror-line > span::-moz-selection, .cm-s-monokai .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai .CodeMirror-line::selection, .cm-s-monokai .CodeMirror-line > span::selection, .cm-s-monokai .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai .CodeMirror-line::-moz-selection, .cm-s-monokai .CodeMirror-line > span::-moz-selection, .cm-s-monokai .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai .CodeMirror-gutters { background: #272822; border-right: 0px; }
.cm-s-monokai .CodeMirror-guttermarker { color: white; }
.cm-s-monokai .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-monokai .CodeMirror-linenumber { color: #d0d0d0; }
.cm-s-monokai .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }

.cm-s-monokai span.cm-comment { color: #75715e; }
.cm-s-monokai span.cm-atom { color: #ae81ff; }
.cm-s-monokai span.cm-number { color: #ae81ff; }

.cm-s-monokai span.cm-comment.cm-attribute { color: #97b757; }
.cm-s-monokai span.cm-comment.cm-def { color: #bc9262; }
.cm-s-monokai span.cm-comment.cm-tag { color: #bc6283; }
.cm-s-monokai span.cm-comment.cm-type { color: #5998a6; }

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute { color: #a6e22e; }
.cm-s-monokai span.cm-keyword { color: #f92672; }
.cm-s-monokai span.cm-builtin { color: #66d9ef; }
.cm-s-monokai span.cm-string { color: #e6db74; }

.cm-s-monokai span.cm-variable { color: #f8f8f2; }
.cm-s-monokai span.cm-variable-2 { color: #9effff; }
.cm-s-monokai span.cm-variable-3, .cm-s-monokai span.cm-type { color: #66d9ef; }
.cm-s-monokai span.cm-def { color: #fd971f; }
.cm-s-monokai span.cm-bracket { color: #f8f8f2; }
.cm-s-monokai span.cm-tag { color: #f92672; }
.cm-s-monokai span.cm-header { color: #ae81ff; }
.cm-s-monokai span.cm-link { color: #ae81ff; }
.cm-s-monokai span.cm-error { background: #f92672; color: #f8f8f0; }

.cm-s-monokai .CodeMirror-activeline-background { background: #373831; }
.cm-s-monokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.Preview_preview__2MaTt {
  flex: 1 1;
  padding: 2rem;
  overflow-y: auto;
  font-size: 1.125rem; }
  .Preview_preview__2MaTt .Preview_title__3IEfQ {
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ced4da; }

.SignInDialog_sign-in__3U9GZ {
  background-color: white;
  padding: 2rem;
  position: relative;
  padding-top: 2.5rem;
  width: 20rem; }
  .SignInDialog_sign-in__3U9GZ .SignInDialog_close__1R7x5 {
    line-height: 2rem;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer; }
    .SignInDialog_sign-in__3U9GZ .SignInDialog_close__1R7x5:hover {
      color: #868e96; }
  .SignInDialog_sign-in__3U9GZ .SignInDialog_title__2kkgA {
    font-size: 1.25rem;
    font-weight: 500; }
  .SignInDialog_sign-in__3U9GZ .SignInDialog_message__2fpmb {
    margin-top: 0.25rem; }
  .SignInDialog_sign-in__3U9GZ .SignInDialog_error__3Jomx {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #fa5252;
    text-align: center;
    font-size: 0.85rem; }
  .SignInDialog_sign-in__3U9GZ input {
    width: 100%;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    border: none;
    border-bottom: 1px solid #dee2e6;
    padding: 0.25rem;
    outline: none;
    border-radius: 4px; }
  .SignInDialog_sign-in__3U9GZ .SignInDialog_button__XoFHy {
    background-color: #228be6;
    text-align: center;
    color: white;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.25rem; }
    .SignInDialog_sign-in__3U9GZ .SignInDialog_button__XoFHy:hover {
      background-color: #339af0; }
    .SignInDialog_sign-in__3U9GZ .SignInDialog_button__XoFHy:active {
      background-color: #228be6; }


/*# sourceMappingURL=main.a0cfefab.css.map*/